#main {
	padding-top: 50px;
	height: calc(100% - 50px);
	color: #fff;
	>.container-fluid {
		height: 100%;
	}
	h1 {
		font-size: 38px;
    	margin-bottom: 30px;
		font-weight: 700;
	}
	p {
		font-size: 21px;
	}
}

.signin {
	>input {
		width: 70%;
	}
	>button {
		width: 25%;
	}
}

.signup	{
	>button {
		margin-top: 15px;
	}
}

#index {
	background: transparent url('../images/welcome_image.jpg') no-repeat;
	background-size: cover;
}